{% load static %}
<!DOCTYPE html>
<html lang="zh">
<header class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img src="{% static 'img/account.png' %}" alt="Profile" class="rounded-circle">
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        {% if name %}
                            <h6>{{ name }}</h6>
                        {% else %}
                            <h6>{{ user.name }}</h6>
                        {% endif %}
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'MainApp:setting' %}">
                            <i class="bi bi-gear"></i>
                            <span>账户设置</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'MainApp:logout' %}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>登出</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
        </ul>
    </nav>
</header>
<aside class="sidebar" id="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'MainApp:index' %}">
                <i class="bi bi-gem"></i>
                <span>主页</span>
            </a>
        </li>
        {% for item in groups %}
            <a class="nav-link collapsed" data-bs-target="#model{{ item.group.id }}" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>{{ item.group.name }}</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="model{{ item.group.id }}" class="nav-content collapse " data-bs-parent="#model{{ item.group.id }}">
                {% for unit in item.units %}
                    <li>
                        <a href="{% url 'MainApp:unit' id=unit.id %}">
                            <i class="bi bi-circle"></i><span>{{ unit.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'MainApp:comments' %}">
                <i class="bi bi-envelope"></i>
                <span>留言区</span>
            </a>
        </li>
    </ul>
</aside>
</html>