{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <title>留言区</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vendor CSS Files -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class>
{% include 'base.html' %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>留言区</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'MainApp:index' %}">主页</a></li>
                <li class="breadcrumb-item active">留言区</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">写一条留言吧</div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row mb-5">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="点这里写留言"
                                           aria-label="comment"
                                           aria-describedby="basic-addon1" name="comment">
                                    <button type="submit" class="btn btn-primary">发表</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">讨论区</h5>
                        <div class="list-group">
                            {% for comment in comment_list %}
                                {% if comment.user.name == user_name %}
                                    <a href="{% url 'MainApp:comment' comment_id=comment.id %}">
                                        <div class="list-group-item list-group-item-success"
                                             aria-current="true">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-1">{{ comment.user.name }}</h6>
                                                <small>{{ comment.date }}</small>
                                            </div>
                                            <p class="mb-1">{{ comment.text }}</p>
                                        </div>
                                    </a>
                                {% else %}
                                    <a href="{% url 'MainApp:comment' comment_id=comment.id %}">
                                        <div class="list-group-item list-group-item-light">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-1">{{ comment.user.name }}</h6>
                                                <small class="text-muted">{{ comment.date }}</small>
                                            </div>
                                            <p class="mb-1">{{ comment.text }}</p>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">

                </div>
            </div>
        </div>
    </section>
</main>
{% include 'footer.html' %}
</body>
</html>