{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <title>细胞房使用承诺书</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vendor CSS Files -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<header class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <span class="d-none d-md-block dropdown-toggle ps-2">账户</span>
                    <img src="{% static 'img/account.png' %}" alt="Profile" class="rounded-circle">

                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>{{ name }}</h6>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'MainApp:setting' %}">
                            <i class="bi bi-gear"></i>
                            <span>账户设置</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'MainApp:logout' %}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>登出</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav>
</header>
<aside class="sidebar" id="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#system-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>细胞房制度</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="system-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'MainApp:manage_rule' %}">
                        <i class="bi bi-circle"></i><span>大型仪器管理规则</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:note' %}">
                        <i class="bi bi-circle"></i><span>细胞培养注意事项流程</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'MainApp:commitment' %}">
                <i class="bi bi-grid"></i>
                <span>细胞房使用承诺书</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tech-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>细胞技术档案文库</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tech-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'MainApp:cultured_basic' %}">
                        <i class="bi bi-circle"></i><span>细胞培养基础</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:star_cell_cultured' %}">
                        <i class="bi bi-circle"></i><span>星型胶质细胞的培养</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:cycle_protocol' %}">
                        <i class="bi bi-circle"></i><span>细胞循环规范</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#instru-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>细胞房设备管理</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="instru-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'MainApp:sterilizer' %}">
                        <i class="bi bi-circle"></i><span>灭菌锅</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:centrifuge' %}">
                        <i class="bi bi-circle"></i><span>离心机</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:safe' %}">
                        <i class="bi bi-circle"></i><span>生物安全柜</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:incubator' %}">
                        <i class="bi bi-circle"></i><span>细胞培养箱</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:cylinder' %}">
                        <i class="bi bi-circle"></i><span>二氧化碳钢瓶</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:tank' %}">
                        <i class="bi bi-circle"></i><span>液氮罐</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'MainApp:comments' %}">
                <i class="bi bi-envelope"></i>
                <span>留言区</span>
            </a>
        </li>
    </ul>
</aside>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>细胞房使用承诺书</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'MainApp:index' %}">主页</a></li>
                <li class="breadcrumb-item active">细胞房使用承诺书</li>
            </ol>
        </nav>
        <a href="{% url 'MainApp:download' file_id=5 %}" class="link-primary">下载文件</a>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-6">
                <!-- Default Card -->
                <div class="card">
                    <div class="card-body">
                        <p style='text-align:center;font-size:14px;font-family:"Times New Roman",serif;margin: 7.8pt 0;line-height:150%;'>
                            <strong><span style="font-size:29px;line-height:150%;font-family:华文新魏,serif;color:#333399;">细胞实验室使用安全承诺书</span></strong>
                        </p>
                        <p style='margin:0;text-align:justify;font-size:14px;font-family:"Times New Roman",serif;text-indent:24.0pt;line-height:20.0pt;'>
                            <span style="font-size:16px;font-family:宋体,serif;">本人（实验人签字）：<u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</u>，经导师（导师签字）：_____________同意前来药学院公共实验中心细胞实验室（地址：药学院7号楼101房间）开展实验，<strong><span
                                    style="color:#C00000;">本人承诺</span></strong>已接受公共实验中心管理老师培训并遵守以下细胞实验室安全管理规定：</span>
                        </p>
                        <ol style="list-style-type: decimal;margin-left:11px;">
                            <li><strong><span
                                    style="font-family:宋体,serif;color:#C00000;font-size:16px;">课题组培训</span></strong><span
                                    style="font-family:宋体,serif;color:#C00000;font-size:16px;">：</span><span
                                    style="font-family:宋体,serif ;font-size:16px;">本人承诺在开展细胞实验前，已接受本课题组老师的相关培训，并已掌握了有关细胞实验相关操作技术及安全注意事项。</span>
                            </li>
                            <li><strong><span
                                    style="font-family:宋体,serif;color:#C00000;font-size:16px;">实验项目：</span></strong><span
                                    style="font-family:宋体,serif;font-size:16px;">本实验室为非二级防护生物安全实验室，只能进行普通细胞培养相关实验操作。为确保生物安全，在本实验室内严禁开展病原微生物实验和细菌培养实验。</span>
                            </li>
                            <li><strong><span
                                    style="font-family:宋体,serif;color:#C00000;font-size:16px;">房间分配：</span></strong><span
                                    style="font-family:宋体,serif;font-size:16px;">本实验室内共有四间独立细胞培养实验室，由公共实验中心管理老师负责分配。实验人员只能在指定的房间内开展实验，未经允许，不能擅自进入其它实验室。4号实验室安装有紫外消毒，所有提取原代细胞操作必须在本实验室进行（注：非4号实验室授权实验人员请联系公共实验中心管理老师统一协调）。</span>
                            </li>
                            <li><strong><span
                                    style="font-family:宋体,serif;color:#C00000;font-size:16px;">进入实验室：</span></strong><span
                                    style="font-family:宋体,serif;font-size:16px;">经授权实验人开通指纹进入（严禁未开通指纹人员进入本实验室）。穿鞋套后进入缓冲间，进入后随手关门，严禁同时打开缓冲区和实验室门，以免形成空气对流。在缓冲间内穿戴本实验室专用防静电实验服、手套、口罩，才能进入实验区。</span>
                            </li>
                            <li><strong><span
                                    style="font-family:宋体,serif;color:#C00000;font-size:16px;">离开实验室：</span></strong><span
                                    style="font-family:宋体,serif;font-size:16px;">实验完毕，实验人员必须将本人所有使用过的耗材及培养基等物品带离实验室。将防静电工作服挂在缓冲间衣架上，其他所有废弃物在101房间外间按照实验室废弃物和生活垃圾分类处理（详见101外间分类处理说明）。</span>
                            </li>
                            <li><strong><span
                                    style="font-family:宋体,serif;color:#C00000;font-size:16px;">臭氧消毒：</span></strong><span
                                    style="font-family:宋体,serif;font-size:16px;">细胞实验室所有房间（包括缓冲间）实行管道臭氧消毒，臭氧消毒时间为每周一、周三、周五凌晨2点到3点，臭氧消毒期间101外间警示灯闪烁。消毒期间严禁进入，关机后约1个小时可以进入实验室。</span>
                            </li>
                            <li><strong><span
                                    style="font-family:宋体,serif;color:#C00000;font-size:16px;">生物安全柜和超净台使用管理：</span></strong><span
                                    style="font-family:宋体,serif;font-size:16px;">每个房间单独建群预约使用，严禁在生物安全柜和超净台内使用产生明火的本生灯和酒精灯，且不能在柜内进行文字工作（其它管理规定详见生物安全柜和超净台使用注意事项）。</span>
                            </li>
                            <li><strong><span
                                    style="font-family:宋体,serif;color:#C00000;font-size:16px;">值日生：</span></strong><span
                                    style="font-family:宋体,serif;font-size:16px;">每个房间安排值日生每周打扫实验室，包括：清理培养箱和安全柜内的杂物、用70%乙醇擦拭台面、用公共实验中心提供的消毒液拖地、更换培养箱及水浴锅内高温灭菌水。</span>
                            </li>
                            <li><strong><span style="font-size:12.0pt;color:#C00000;">特别提醒：</span></strong><strong><span
                                    style='font-family:"微软雅黑",sans-serif;color:#C00000;font-size:16px;'>①</span></strong><span
                                    style="font-family:宋体,serif;color:black;font-size:16px;">非工作时间段和节假日期间进入本实验室必须2人以上同行；</span><strong><span
                                    style='font-family:"微软雅黑",sans-serif;color:#C00000;font-size:16px;'>②</span></strong><span
                                    style="font-family:宋体,serif;color:black;font-size:16px;">实验完毕必须将全部实验物品和耗材清理出安全柜，并统一存放于专用储物柜中；</span><strong><span
                                    style="font-size:12.0pt;color:#C00000;">③</span></strong><span
                                    style="font-family:宋体,serif;color:black;font-size:16px;">所有培养细胞及试剂必须标记清楚所属实验人员姓名及日期；</span><strong><span
                                    style="font-size:12.0pt;color:#C00000;">④</span></strong><span
                                    style="font-family:宋体,serif;color:black;font-size:16px;">严禁将</span><span
                                    style="font-size:12.0pt;;">任何对人体健康有害的物品带入实验室。</span></li>
                        </ol>
                    </div>
                </div><!-- End Default Card -->
            </div>
        </div>
    </section>

</main>
<!-- Vendor JS Files -->
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>