{% load static %}
<!DOCTYPE html>
<html lang="zh">
{% include 'base.html' %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>细胞培养基础</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'MainApp:index' %}">主页</a></li>
                <li class="breadcrumb-item">细胞技术档案文库</li>
                <li class="breadcrumb-item active">细胞培养基础</li>
            </ol>
        </nav>
        <a href="{% url 'MainApp:download' file_id=6 %}" class="link-primary">下载文件</a>
    </div><!-- End Page Title -->
</main>
</html>