{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <title>细胞培养基础</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vendor CSS Files -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<header class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <span class="d-none d-md-block dropdown-toggle ps-2">账户</span>
                    <img src="{% static 'img/account.png' %}" alt="Profile" class="rounded-circle">

                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>{{ name }}</h6>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'MainApp:setting' %}">
                            <i class="bi bi-gear"></i>
                            <span>账户设置</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'MainApp:logout' %}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>登出</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav>
</header>
<aside class="sidebar" id="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#system-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>细胞房制度</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="system-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'MainApp:manage_rule' %}">
                        <i class="bi bi-circle"></i><span>大型仪器管理规则</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:note' %}">
                        <i class="bi bi-circle"></i><span>细胞培养注意事项流程</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'MainApp:commitment' %}">
                <i class="bi bi-grid"></i>
                <span>细胞房使用承诺书</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-target="#tech-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>细胞技术档案文库</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tech-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'MainApp:cultured_basic' %}" class="active">
                        <i class="bi bi-circle"></i><span>细胞培养基础</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:star_cell_cultured' %}">
                        <i class="bi bi-circle"></i><span>星型胶质细胞的培养</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:cycle_protocol' %}">
                        <i class="bi bi-circle"></i><span>细胞循环规范</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#instru-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>细胞房设备管理</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="instru-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'MainApp:sterilizer' %}">
                        <i class="bi bi-circle"></i><span>灭菌锅</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:centrifuge' %}">
                        <i class="bi bi-circle"></i><span>离心机</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:safe' %}">
                        <i class="bi bi-circle"></i><span>生物安全柜</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:incubator' %}">
                        <i class="bi bi-circle"></i><span>细胞培养箱</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:cylinder' %}">
                        <i class="bi bi-circle"></i><span>二氧化碳钢瓶</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'MainApp:tank' %}">
                        <i class="bi bi-circle"></i><span>液氮罐</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'MainApp:comments' %}">
                <i class="bi bi-envelope"></i>
                <span>留言区</span>
            </a>
        </li>
    </ul>
</aside>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>细胞培养基础</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'MainApp:index' %}">主页</a></li>
                <li class="breadcrumb-item">细胞技术档案文库</li>
                <li class="breadcrumb-item active">细胞培养基础</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-6">
                <!-- Default Card -->
                <div class="card">
                    <div class="card-body">
                        <p style='margin: 12.0pt 0 3.0pt;text-align:center;font-size:21px;font-family:"等线 Light",serif;font-weight:bold;line-height:115%;'>
                            <span style="font-family:宋体,serif;">细胞培养基础</span></p>
                        <p style="margin:0;text-align:justify;font-size:16px;font-family:等线,serif;line-height:115%;"><span
                                style='font-family:"Arial",sans-serif;'>0</span>、养细胞要用心，每天固定时间观察，并做相应处理。</p>
                        <p style="margin:0;text-align:justify;font-size:16px;font-family:等线,serif;line-height:115%;">
                            <strong><u>越快越好：细胞换液、传代、铺板、冻存、复苏，都越快越好，折腾时间越久、次数越多，细胞状态越差，越容易污染，培养箱是细胞最适宜的环境。</u></strong>
                        </p>
                        <p style="margin:0;text-align:justify;font-size:16px;font-family:等线,serif;line-height:115%;">
                            细胞培养基础：消化、计数、传、铺、扩、冻、复。<span style='font-family:"Arial",sans-serif;'>H1</span>、<span
                                style='font-family:"Arial",sans-serif;'>D1</span>、<span
                                style='font-family:"Arial",sans-serif;'>H5</span>、<span
                                style='font-family:"Arial",sans-serif;'>95</span>。</p>
                        <br><img src="{% static 'img/table1.png' %}" alt="table1" class="card-img"><br>
                        <p style="margin:0;text-align:justify;font-size:16px;font-family:等线,serif;line-height:115%;">
                            <strong><u><span
                                    style="color:white;">表格</span></u></strong><strong><u><span
                                style='font-family:"Arial",sans-serif;'>Confluency</span></u></strong><strong><u>仅为估计值，若铺、冻等还以严格细胞计数为准。</u></strong>
                        </p>
                        <p style="margin:0;text-align:justify;font-size:16px;font-family:等线,serif;line-height:115%;">
                            <strong><u><span
                                    style='font-family:"Arial",sans-serif;'>Seeding</span></u></strong><strong><u>数不绝对：</u></strong>若尽快长满<span
                                style='font-family:"Arial",sans-serif;'>Scratch</span>，<span
                                style='font-family:"Arial",sans-serif;'>W6</span>可<span
                                style='font-family:"Arial",sans-serif;'>80</span>万；若单细胞轴向比、胞膜外突，<span
                                style='font-family:"Arial",sans-serif;'>W6</span>可<span
                                style='font-family:"Arial",sans-serif;'>10-15</span>万。普通铺板后<span
                                style='font-family:"Arial",sans-serif;'>5d</span>长满，收<span
                                style='font-family:"Arial",sans-serif;'>PRO/RNA</span>，或传铺冻等。</p><br>
                        <p style="margin:0;text-align:justify;font-size:16px;font-family:等线,serif;line-height:115%;"><span
                                style='font-family:"Arial",sans-serif;'>1</span>、细胞：<span
                                style='font-family:"Arial",sans-serif;'>H5</span>贴壁，长满后可双层长，很少漂浮，可<span
                                style='font-family:"Arial",sans-serif;'>PBS</span>洗<span
                                style='font-family:"Arial",sans-serif;'>*2</span>；<span
                                style='font-family:"Arial",sans-serif;'>H1</span>贴壁或悬浮，长满后较易漂浮，<strong><u>仅</u></strong><strong><u><span
                                style='font-family:"Arial",sans-serif;'>PBS</span></u></strong><strong><u>洗</u></strong><strong><u><span
                                style='font-family:"Arial",sans-serif;'>*1</span></u></strong><strong><u>。</u></strong><span
                                style='font-family:"Arial",sans-serif;'>H5</span>小、倍增快、单细胞活力也很强、不怕稀、<span
                                style='font-family:"Arial",sans-serif;'>T25</span>可达<span
                                style='font-family:"Arial",sans-serif;'>450</span>万、一传四，<span
                                style='font-family:"Arial",sans-serif;'>H1</span>大、倍增慢、单细胞活力很弱、很怕稀、<span
                                style='font-family:"Arial",sans-serif;'>T25</span>约<span
                                style='font-family:"Arial",sans-serif;'>350</span>万、一传三。（不要用<span
                                style='font-family:"Arial",sans-serif;'>D35</span>小眼睛铺板，需放进大皿不方便）</p><br>
                        <p style="margin:0;text-align:justify;font-size:16px;font-family:等线,serif;line-height:115%;"><span
                                style='font-family:"Arial",sans-serif;'>2</span>、消化稀释计数：消化<span
                                style='font-family:"Arial",sans-serif;'>1-3min</span>。胰酶终止离心后，先<span
                                style='font-family:"Arial",sans-serif;'>1mL</span>吹散，再稀释至所需传、铺的总体积，约<span
                                style='font-family:"Arial",sans-serif;'>20</span>万<span
                                style='font-family:"Arial",sans-serif;'>/ml</span>，<span
                                style='font-family:"Arial",sans-serif;'>10ul</span>计数，四角平均。<strong><u>消化后吹打脱壁用吸管，避免细胞破碎。</u></strong><span
                                style='font-family:"Arial",sans-serif;'>1ml</span>枪重悬稀释混匀应轻柔，<strong><u>反复吹打，注意枪头过满倒吸。</u></strong>
                        </p><br>
                        <p style="margin:0;text-align:justify;font-size:16px;font-family:等线,serif;line-height:115%;"><span
                                style='font-family:"Arial",sans-serif;'>3</span>、换液、传代：<span
                                style='font-family:"Arial",sans-serif;'>3-4</span>天配液变黄，换液。<span
                                style='font-family:"Arial",sans-serif;'>70%-80%</span>后换一次液，使细胞吃饱喝足，过夜后传代。</p><br>
                        <p style="margin:0;text-align:justify;font-size:16px;font-family:等线,serif;line-height:115%;"><span
                                style='font-family:"Arial",sans-serif;'>4</span>、皿、孔、瓶：收<span
                                style='font-family:"Arial",sans-serif;'>PRO/RNA</span>用<span
                                style='font-family:"Arial",sans-serif;'>W6</span>；<span
                                style='font-family:"Arial",sans-serif;'>D60</span>、<span
                                style='font-family:"Arial",sans-serif;'>D100</span>、<span
                                style='font-family:"Arial",sans-serif;'>D150</span>已经拆开的易污染，若用于扩细胞，直接拆新包；<span
                                style='font-family:"Arial",sans-serif;'>T75</span>扩细胞用于新细胞系、或动物实验需注射大量细胞；<span
                                style='font-family:"Arial",sans-serif;'>T25</span>最常用，注意用带滤膜的。</p><br>
                        <p style="margin:0;text-align:justify;font-size:16px;font-family:等线,serif;line-height:115%;"><span
                                style='font-family:"Arial",sans-serif;'>5</span>、铺：同一个时间点不同处理铺同一板，不同时间点铺不同板。<strong><u><span
                                style='font-family:"Arial",sans-serif;'>50ml</span></u></strong><strong><u>离心管内</u></strong><strong><u><span
                                style='font-family:"Arial",sans-serif;'>Medium</span></u></strong><strong><u>稀释到总终体积，如铺</u></strong><strong><u><span
                                style='font-family:"Arial",sans-serif;'>6</span></u></strong><strong><u>孔</u></strong><strong><u><span
                                style='font-family:"Arial",sans-serif;'>&nbsp;W6 2ml/</span></u></strong><strong><u>孔、</u></strong><strong><u><span
                                style='font-family:"Arial",sans-serif;'>2</span></u></strong><strong><u>瓶</u></strong><strong><u><span
                                style='font-family:"Arial",sans-serif;'>T25 6ml/</span></u></strong><strong><u>瓶，则稀释到总终体积</u></strong><strong><u><span
                                style='font-family:"Arial",sans-serif;'>24ml</span></u></strong><strong><u>，</u></strong><strong><u><span
                                style='font-family:"Arial",sans-serif;'>50ml</span></u></strong><strong><u>离心管内吹打均匀；分铺时先用</u></strong><strong><u><span
                                style='font-family:"Arial",sans-serif;'>1ml Medium</span></u></strong><strong><u>重复使用润湿所有孔底，然后加入细胞悬液，快速大幅度十字晃动</u></strong><strong><u><span
                                style='font-family:"Arial",sans-serif;'>5</span></u></strong><strong><u>次，以保证铺板均匀。</u></strong>
                        </p><br>
                        <p style="margin:0;text-align:justify;font-size:16px;font-family:等线,serif;line-height:115%;"><span
                                style='font-family:"Arial",sans-serif;'>6</span>、冻：<strong><u>切记冻存盒放入</u></strong><strong><u><span
                                style='font-family:"Arial",sans-serif;'>-80</span></u></strong><strong><u>。</u></strong>消化离心后，<span
                                style='font-family:"Arial",sans-serif;'>4&deg;C</span>血清配冻存液，<span
                                style='font-family:"Arial",sans-serif;'>1ml/</span>支，适当富余，<span
                                style='font-family:"Arial",sans-serif;'>0.22um</span>过滤，冻存液稍微吹打重悬，分装。<span
                                style='font-family:"Arial",sans-serif;'>150-200</span>万<span
                                style='font-family:"Arial",sans-serif;'>/</span>支。冻<span
                                style='font-family:"Arial",sans-serif;'>3-4</span>百万<span
                                style='font-family:"Arial",sans-serif;'>/</span>支。冻存液配方：<span
                                style='font-family:"Arial",sans-serif;'>FBS:DMSO = 900:100uL</span>，一次可多配点，<span
                                style='font-family:"Arial",sans-serif;'>3</span>周内可用。</p><br>
                        <p style="margin:0;text-align:justify;font-size:16px;font-family:等线,serif;line-height:115%;"><span
                                style='font-family:"Arial",sans-serif;'>7</span>、复：<span
                                style='font-family:"Arial",sans-serif;'>37&deg;</span>水浴预热，<span
                                style='font-family:"Arial",sans-serif;'>2-3min</span>观察，融化后立即离心，<span
                                style='font-family:"Arial",sans-serif;'>10%&nbsp;</span>重悬，<span
                                style='font-family:"Arial",sans-serif;'>1</span>支复<span
                                style='font-family:"Arial",sans-serif;'>1</span>瓶<span
                                style='font-family:"Arial",sans-serif;'>T25</span>，若时间久、细胞损失较多、复<span
                                style='font-family:"Arial",sans-serif;'>1</span>瓶很稀，则<span
                                style='font-family:"Arial",sans-serif;'>3</span>支复<span
                                style='font-family:"Arial",sans-serif;'>1</span>瓶，或<span
                                style='font-family:"Arial",sans-serif;'>2</span>支复一孔<span
                                style='font-family:"Arial",sans-serif;'>W6</span>。</p><br>
                    </div>
                </div><!-- End Default Card -->
            </div>
        </div>
    </section>

</main>
<!-- Vendor JS Files -->
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>