{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <title>细胞循环规范</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vendor CSS Files -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
{% include 'base.html' %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>细胞循环规范</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'MainApp:index' %}">主页</a></li>
                <li class="breadcrumb-item">细胞技术档案文库</li>
                <li class="breadcrumb-item active">细胞循环规范</li>
            </ol>
        </nav>
        <a href="{% url 'MainApp:download' file_id=8 %}" class="link-primary">下载文件</a>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-6">
                <!-- Default Card -->
                <div class="card">
                    <div class="card-body"><p
                            style="margin:0;text-align:center;font-size:16px;font-family:等线,serif,serif;"><strong>
                        细胞循环规范</strong></p>
                        <p style="margin:0;text-align:justify;font-size:16px;font-family:等线,serif;">&nbsp;</p>
                        <p style="margin:0;text-align:justify;font-size:16px;font-family:等线,serif;text-indent:21.0pt;line-height:125%;">
                            原理：利用DNA染料PI对细胞进行染色，荧光强度和DNA含量成正比，根据荧光强度的变化来判断细胞处在细胞周期的哪个阶段。根据细胞周期的不同状态，如果G0/G1期细胞的荧光强度为N，则S期细胞的荧光强度处于N～2N之间，G2/M期细胞的荧光强度为2N。</p>
                        <ol class="decimal_type" style="list-style-type: decimal;margin-left:11px;">
                            <li>收集细胞：胰酶消化细胞并4&nbsp;<span style='font-family:"Cambria Math",serif;'>℃</span>离心10分钟1000
                                rpm去上清（检测细胞周期时使用的细胞可以多一些，至少为6孔板一个孔的细胞），手法轻柔以减少碎片，不可过度吹打细胞；
                            </li>
                            <li>用预冷的PBS洗两次细胞；</li>
                            <li>固定：预冷70%的乙醇溶液，将5 ml 70%的冷乙醇逐滴加入到细胞中，涡旋时混匀细胞，确保所有细胞的固定，并最大程度地减少结块，获得固定好的单个细胞，4&nbsp;<span
                                    style='font-family:"Cambria Math",serif;'>℃</span>避光过夜（至少18小时）；
                            </li>
                            <li>从4&nbsp;<span style='font-family:"Cambria Math",serif;'>℃</span>取出细胞，4&nbsp;<span
                                    style='font-family:"Cambria Math",serif;'>℃</span>离心10分钟1000
                                rpm去上清，再用预冷的PBS清洗两次以除去固定液残留（弃上清时要小心细胞损失，尤其是在乙醇离心之后）；
                            </li>
                            <li>加入500 &micro;l FxCycleTM PI/RNAse&nbsp;混匀；室温避光孵育15-30分钟；</li>
                            <li>1小时之内上流式细胞仪检测，如果暂时不检测可先避光4&nbsp;<span
                                    style='font-family:"Cambria Math",serif;'>℃</span><span
                                    style=";">保存。</span></li>
                        </ol>
                        <p style="margin:0;text-align:justify;font-size:16px;font-family:等线,serif;">&nbsp;</p></div>
                </div><!-- End Default Card -->
            </div>
        </div>
    </section>
</main>
</body>
</html>