{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vendor CSS Files -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
{% include 'base.html' %}


<main id="main" class="main">
    <div class="pagetitle">
        <h1>文件系统</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'MainApp:index' %}">主页</a></li>
                <li class="breadcrumb-item active">文件系统</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-6">
                <!-- Default Card -->
                <div class="card">
                    <div class="card-body">
                        <li>
                            <a href="{% url 'MainApp:download' file_id=5 %}" class="link-primary">承诺书</a>
                        </li>
                        <li><a href="{% url 'MainApp:download' file_id=5 %}" class="link-primary">文件1</a></li>
                        <li><a href="{% url 'MainApp:download' file_id=5 %}" class="link-primary">下载文件2</a></li>
                        <li><a href="{% url 'MainApp:download' file_id=5 %}" class="link-primary">下载文件3</a></li>
                    </div>
                </div><!-- End Default Card -->
            </div>
        </div>
    </section>

</main>
</body>
</html>