{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vendor CSS Files -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>修改密码</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <label for="inputID" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="inputID" name="student_id"
                                           placeholder="学号" required value="{{ student_id }}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPhone" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="inputID" name="phone"
                                           placeholder="手机号" required value="{{ phone }}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword" name="password"
                                           placeholder="新密码" required value="{{ password }}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPasswordCheck" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPasswordCheck"
                                           name="password_check" placeholder="确认密码" required>
                                </div>
                            </div>
                            {% if message %}
                                <div class="row mb-3">
                                    <div class="col-sm-10">
                                        <div class="alert alert-warning">{{ message }}</div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">修改</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- Vendor JS Files -->
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>