{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vendor CSS Files -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
{% include 'base.html' %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>生物医学工程学院</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">生物技术公共平台细胞房</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Slides with controls -->
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item">
                                    <img src="{% static 'img/slides-1.jpg' %}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item active">
                                    <img src="{% static 'img/slides-2.jpg' %}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'img/slides-3.jpg' %}" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div><!-- End Slides with controls -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <a href="{% url 'MainApp:ln_index' %}">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-grid gap-2 mt-3">
                                <button class="btn btn-primary" type="button">
                                    液氮罐系统<i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>
{% include 'footer.html' %}
</body>
</html>