{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>液氮罐查询</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vendor CSS Files -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
{% include 'ln_base.html' %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>液氮罐状态查询</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'MainApp:ln_index' %}">主页</a></li>
                <li class="breadcrumb-item active">查询</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-6">
                <!-- Default Card -->
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">请选择罐号
                                    <div class="col-sm-10">
                                        <select class="form-select" name="basket" required>
                                            <option value="1">A</option>
                                            <option value="2">B</option>
                                            <option value="3">C</option>
                                            <option value="4">D</option>
                                        </select>
                                    </div>
                                </label>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">请选择层数
                                    <div class="col-sm-10">
                                        <select class="form-select" name="floor" required>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                        </select>
                                    </div>
                                </label>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">请选择行号
                                    <div class="col-sm-10">
                                        <select class="form-select" name="row" required>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                        </select>
                                    </div>
                                </label>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">请选择列号
                                    <div class="col-sm-10">
                                        <select class="form-select" name="column" required>
                                            <option value="1">a</option>
                                            <option value="2">b</option>
                                            <option value="3">c</option>
                                            <option value="4">d</option>
                                            <option value="5">e</option>
                                            <option value="6">f</option>
                                            <option value="7">g</option>
                                            <option value="8">h</option>
                                            <option value="9">i</option>
                                        </select>
                                    </div>
                                </label>
                            </div>
                            <div class="row mb-3">
                                <button type="submit" class="btn btn-primary">确定</button>
                            </div>
                        </form>
                    </div>
                </div><!-- End Default Card -->
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">名称</th>
                                <th scope="col">状态</th>
                                <th scope="col">取/放时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if cell %}
                                {% if color == 'green' %}
                                    <tr class="table-success">
                                        <th scope="row">{{ cell.name }}</th>
                                        <td>{{ cell.state }}</td>
                                        <td>{{ cell.date.date }}</td>
                                    </tr>
                                {% elif color == 'red' %}
                                    <tr class="table-danger">
                                        <th scope="row">{{ cell.name }}</th>
                                        <td>{{ cell.state }}</td>
                                        <td>{{ cell.date.date }}</td>
                                    </tr>
                                {% elif color == 'yellow' %}
                                    <tr class="table-warning">
                                        <th scope="row">{{ cell.name }}</th>
                                        <td>{{ cell.state }}</td>
                                        <td>{{ cell.date.date }}</td>
                                    </tr>
                                {% else %}
                                    <tr class="table-primary">
                                        <th scope="row">{{ cell.name }}</th>
                                        <td>{{ cell.state }}</td>
                                        <td>{{ cell.date.date }}</td>
                                    </tr>
                                {% endif %}
                            {% else %}
                                <tr class="table-primary">
                                    <th scope="row">{{ cell.name }}</th>
                                    <td>{{ cell.state }}</td>
                                    <td>{{ cell.date.date }}</td>
                                </tr>
                                <tr class="table-primary">
                                    <th scope="row">{{ cell.name }}</th>
                                    <td>{{ cell.state }}</td>
                                    <td>{{ cell.date.date }}</td>
                                </tr>
                                </tbody>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% include 'footer.html' %}
</body>
</html>