{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <title>星型胶质细胞的培养</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vendor CSS Files -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
{% include 'base.html' %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>星型胶质细胞的培养</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'MainApp:index' %}">主页</a></li>
                <li class="breadcrumb-item">细胞技术档案文库</li>
                <li class="breadcrumb-item active">星型胶质细胞的培养</li>
            </ol>
        </nav>
        <a href="{% url 'MainApp:download' file_id=7 %}" class="link-primary">下载文件</a>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row align-items-top">
            <div class="col-lg-6">
                <!-- Default Card -->
                <div class="card">
                    <div class="card-body">
                        <p style="font-size:16px;font-family:等线,serif,serif;margin: 0;text-align:center;">
                            <strong><span style="font-size:20px;font-family:宋体,serif,serif;">星形胶质细胞的培养</span></strong>
                        </p>
                        <p style="font-size:16px;font-family:等线,serif,serif;margin: 0;"><span
                                style='font-family:"Arial,Bold",serif;'>1.&nbsp;</span><span
                                style="font-family:宋体,serif;">液体配制</span><br><span
                                style="font-family:宋体,serif;">星形胶质细胞完全培液</span>:
                            <span style='font-family:"Calibri",sans-serif;'>DMEM&nbsp;</span><span
                                    style="font-family:宋体,serif;">培养液</span>
                            <span style='font-family:"Calibri",sans-serif;'>500&nbsp;</span><span
                                    style="font-family:宋体,serif;">毫升中加入胎牛血清</span>
                            <span style='font-family:"Calibri",sans-serif;'>50&nbsp;</span><span
                                    style="font-family:宋体,serif;">毫升，</span><span
                                    style='font-family:"Calibri",sans-serif;'>5&nbsp;</span><span
                                    style="font-family:宋体,serif;">毫升青霉素</span><span
                                    style='font-family:"Calibri",sans-serif;'>/</span><span
                                    style="font-family:宋体,serif;">链霉素</span></p>
                        <p style="font-size:16px;font-family:等线,serif;margin:0;"><span
                                style="font-family:宋体,serif;">双抗。</span></p><br>
                        <p style="font-size:16px;font-family:等线,serif;margin:0;"><span
                                style='font-family:"Calibri,Bold",serif;'>2.&nbsp;</span><span
                                style="font-family:宋体,serif;">星形胶质细胞的培养</span><br><span
                                style="font-family:宋体,serif;">新生</span> <span
                                style='font-family:"Calibri",sans-serif;'>1-2&nbsp;</span><span
                                style="font-family:宋体,serif;">天</span> <span
                                style='font-family:"Calibri",sans-serif;'>SD&nbsp;</span><span
                                style="font-family:宋体,serif;">大鼠的乳鼠，经</span>
                            <span style='font-family:"Calibri",sans-serif;'>75%</span><span
                                    style="font-family:宋体,serif;">酒精消毒断头处死，取脑放入预冷的</span>
                            <span style='font-family:"Calibri",sans-serif;'>HBSS&nbsp;</span><span
                                    style="font-family:宋体,serif;">平衡盐溶液。在解</span>
                        </p>
                        <p style="font-size:16px;font-family:等线,serif,serif;margin:0;"><span
                                style="font-family:宋体,serif;">剖镜下小心剥离颅骨以及脑膜，小心分离血管、海马、纹状体，然后将两侧大脑皮层取出，加入</span>
                            <span
                                    style='font-family:"Calibri",sans-serif;'>37</span>&deg;C <span
                                    style="font-family:宋体,serif;">预热的</span> <span
                                    style='font-family:"Calibri",sans-serif;'>0.25%</span><span
                                    style="font-family:宋体,serif;">胰酶</span><span
                                    style='font-family:"Calibri",sans-serif;'>-0. 02% EDTA 37&nbsp;</span><span
                                    style="font-family:宋体,serif;">度消化</span> <span
                                    style='font-family:"Calibri",sans-serif;'>10-15&nbsp;</span><span
                                    style="font-family:宋体,serif;">分钟，待组织消化完全后加入</span> <span
                                    style='font-family:"Calibri",sans-serif;'>FBS&nbsp;</span><span
                                    style="font-family:宋体,serif;">终止消化，然后离</span>
                            <span style="font-family:宋体,serif;">心</span> <span
                                    style='font-family:"Calibri",sans-serif;'>5&nbsp;</span><span
                                    style="font-family:宋体,serif;">分钟</span><span
                                    style='font-family:"Calibri",sans-serif;'>(1000&nbsp;</span><span
                                    style="font-family:宋体,serif;">转</span><span
                                    style='font-family:"Calibri",sans-serif;'>/</span><span
                                    style="font-family:宋体,serif;">分</span><span
                                    style='font-family:"Calibri",sans-serif;'>)</span><span
                                    style="font-family:宋体,serif;">，弃上清，用</span> <span
                                    style='font-family:"Calibri",sans-serif;'>PBS&nbsp;</span><span
                                    style="font-family:宋体,serif;">洗一遍后再用同样的条件离心，弃上清后用星形胶质细胞的</span>
                            <span
                                    style="font-family:宋体,serif;">完全培养液重悬，并用</span>
                            <span style='font-family:"Calibri",sans-serif;'>70&nbsp;</span><span
                                    style="font-family:宋体,serif;">微米的滤网过滤后将细胞接种于预先铺有多聚赖氨酸的培养皿中。</span>
                        </p><br>
                        <p style="font-size:16px;font-family:等线,serif;margin:0;"><span
                                style='font-family:"Calibri,Bold",serif;'>3.&nbsp;</span><span
                                style="font-family:宋体,serif;">星形胶质细胞的鉴定</span>
                            (<span style='font-family:"Calibri,Bold",serif;'>GFAP&nbsp;</span><span
                                    style="font-family:宋体,serif;">染色</span>)<br><span
                                    style="font-family:宋体,serif;">用</span> <span
                                    style='font-family:"Calibri",sans-serif;'>70%</span><span
                                    style="font-family:宋体,serif;">酒精消毒的直径为</span>
                            <span style='font-family:"Calibri",sans-serif;'>13&nbsp;</span><span
                                    style="font-family:宋体,serif;">毫米的圆玻片放在</span>
                            <span style='font-family:"Calibri",sans-serif;'>12&nbsp;</span><span
                                    style="font-family:宋体,serif;">孔板中，将第一代星形胶质细胞以</span>
                            <span style='font-family:"Calibri",sans-serif;'>105&nbsp;</span><span
                                    style="font-family:宋体,serif;">细胞</span><span
                                    style='font-family:"Calibri",sans-serif;'>/&nbsp;</span></p>
                        <p style="font-size:16px;font-family:等线,serif;margin:0;"><span
                                style="font-family:宋体,serif;">孔的细胞密度种在玻片上，待细胞长至</span> <span
                                style='font-family:"Calibri",sans-serif;'>80%</span><span
                                style="font-family:宋体,serif;">融合时</span><span
                                style='font-family:"Calibri",sans-serif;'>,&nbsp;</span><span
                                style="font-family:宋体,serif;">取出小玻片，放在一个新的</span>
                            <span style='font-family:"Calibri",sans-serif;'>12&nbsp;</span><span
                                    style="font-family:宋体,serif;">孔板中进行细胞</span>
                            <span style="font-family:宋体,serif;">免疫组织化学染色鉴定。</span></p>
                        <p style="font-size:16px;font-family:等线,serif;margin:0;">&nbsp;</p><br>
                    </div>
                </div><!-- End Default Card -->
            </div>
        </div>
    </section>

</main>
</body>
</html>